<!doctype html>
<html lang="en">
<head>
  <base href="/">
  <title><%= appName %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- inject:css -->
  <!-- endinject -->

</head>
<body>

<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- inject:js -->
<!-- endinject -->

<app>Loading...</app>

</body>
</html>
